In [1]:
import pandas as pd
import numpy as np

In [17]:
praneeth = pd.read_csv('stock_closing_data.csv', index_col=0)
john = pd.read_csv('stock_closing_data_john.csv', index_col=0)

In [35]:
len(praneeth.Company.append(john.Company).unique())

1101

In [36]:
print(len(praneeth.Company))
print(len(john.Company))
stock_data = praneeth.append(john)
print(len(stock_data.Company))

121140
76670
197810

In [37]:
len(stock_data.Company.unique())

1101

In [39]:
stock_data

      Closing_Value Company          Date
0              7117     ANF  Dec 01, 2017
1                 0     ANF  Nov 30, 2017
2              6217     ANF  Oct 31, 2017
3              8413     ANF  Sep 30, 2017
4              7314     ANF  Aug 31, 2017
5                 0     ANF  Aug 30, 2017
6              0312     ANF  Jul 31, 2017
7               819     ANF  Jun 30, 2017
8              8712     ANF  May 31, 2017
9                 0     ANF  May 31, 2017
10             8513     ANF  Apr 30, 2017
11             5011     ANF  Mar 31, 2017
12                0     ANF  Mar 01, 2017
13             8311     ANF  Mar 01, 2017
14             2011     ANF  Feb 01, 2017
15             9111     ANF  Jan 01, 2017
16             8512     ANF  Dec 01, 2016
17                0     ANF  Nov 30, 2016
18             0014     ANF  Oct 31, 2016
19             4014     ANF  Sep 30, 2016
20             5115     ANF  Aug 31, 2016
21                0     ANF  Aug 31, 2016
22             6417     ANF  Jul 31, 2016
23             3620     ANF  Jun 30, 2016
24                0     ANF  Jun 01, 2016
25             4917     ANF  May 31, 2016
26             6619     ANF  Apr 30, 2016
27             4926     ANF  Mar 31, 2016
28                0     ANF  Mar 02, 2016
29             4131     ANF  Mar 01, 2016
...             ...     ...           ...
76640          8583     ZBH  Jun 30, 2013
76641             0     ZBH  Jun 26, 2013
76642          5574     ZBH  May 31, 2013
76643          1278     ZBH  Apr 30, 2013
76644          3176     ZBH  Mar 31, 2013
76645             0     ZBH  Mar 26, 2013
76646          2475     ZBH  Mar 01, 2013
76647          5374     ZBH  Feb 01, 2013
76648          3474     ZBH  Jan 01, 2013
76649             0     ZBH  Dec 24, 2012
76650          1466     ZBH  Dec 01, 2012
76651          5665     ZBH  Oct 31, 2012
76652          9764     ZBH  Sep 30, 2012
76653             0     ZBH  Sep 25, 2012
76654          8367     ZBH  Aug 31, 2012
76655          6061     ZBH  Jul 31, 2012
76656          4658     ZBH  Jun 30, 2012
76657             0     ZBH  Jun 26, 2012
76658          2364     ZBH  May 31, 2012
76659          5760     ZBH  Apr 30, 2012
76660          2862     ZBH  Mar 31, 2012
76661             0     ZBH  Mar 28, 2012
76662          6764     ZBH  Mar 01, 2012
76663          7660     ZBH  Feb 01, 2012
76664          7060     ZBH  Jan 01, 2012
76665          0053     ZBH  Dec 01, 2011
76666          2550     ZBH  Oct 31, 2011
76667          6752     ZBH  Sep 30, 2011
76668          2353     ZBH  Aug 31, 2011
76669          9256     ZBH  Jul 31, 2011

[197810 rows x 3 columns]

In [38]:
stock_data.to_csv('stock_price_data.csv')